<div class="flex flex-col justify-center items-center flex-grow">
    <div class="lg:w-8/12 xl:w-6/12 mt-10 p-10 shadow-2xl mx-auto">
      <h3 class="text-3xl text-center font-semibold py-5">Reset Password</h3>
      <form [formGroup]="resetForm" class="flex flex-col">
        <div class="flex flex-col mt-4">
          <input formControlName="newPassword" class="p-2 border border-gray-300 rounded" type="password" placeholder="New Password">
          <span *ngIf="resetForm.get('newPassword')?.errors?.['required'] && resetForm.get('newPassword')?.dirty" class="text-red-500">New Password is required</span>

        </div>
        <div class="flex flex-col mt-4">
          <input formControlName="confirmPassword" class="p-2 border border-gray-300 rounded" type="password" placeholder="Confirm Password">
        </div>
        <div class="mt-2">
          <button (click)="reset()" [disabled]="resetForm.invalid" [class.disabled]="resetForm.invalid" class="bg-indigo-500 w-1/4 mr-3 p-2 rounded-md text-gray-50">Submit</button>
          <button routerLink="/login" class="bg-gray-500 w-1/4 p-2 rounded-md text-gray-50">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  